<h2>Recent Tests</h2>
<button class="builds" *ngFor="let build of builds" (click)="onSelect(build)" [routerLink]=" ['../features'] ">
  <md-card-content>
    <!-- ngIf entscheidet welcher Buttontyp eingebelndet werden soll -->
    <button class="btn-succ" md-mini-fab *ngIf="build.succ == true" color="primary" >
      <md-icon>done</md-icon>
    </button>
    <button class="btn-succ" md-mini-fab *ngIf="build.succ == false" color="warn">
      <md-icon>report</md-icon>
    </button>
    <md-card-title>{{build.name}}</md-card-title>
    <p class="info">Duration: {{build.duration }}h</p>
    <p class="info">Failed: {{build.scenNrFailed}}/{{build.scenNr}}</p>
  </md-card-content>
</button>
